# Practice Suggestions

## Suggestion 1  (challenging)

Create and query a database representing a research programme.  In a research programme, individual researchers are involved in one or more projects (many to many), and each project may use one or more individual organisms (one to many)  The tables will be:

Researcher --  Project -- Organisms

* The Researcher table has information like name, role (PI, Co-PI, technician)
* The Project table has information like project ID, funding agency
* The Organisms table has information like ear-tag number, species

Create three CSV files with a few lines of data, where: a researcher is involved in more than one project, and a different projects include the same researcher; AND a project includes multiple organisms from the organisms table, but each organism is only used within one project.

Build the database, and the code to fill it and query it.


## Suggestion 2 (easier)


Create and query a database representing a simple laboratory information management system.  In a LIMS, Projects involve multiple Organisms (one to many), and each Organism may provide several Samples (one to many).

The tables will be:

Project -- Organisms -- Samples

* The Project table has information like project ID, funding agency
* The organisms table has information like ear-tag number, species
* The Samples table has information like tissue (blood, kidney, lung, etc.), collection date, freezer-location

Create three CSV files with a few lines of data.

Build the database, and the code to fill it and query it.

#### suggestion 2:

In [1]:
# docker start course-mysql
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [ ]:
%sql show databases;

In [ ]:
%sql drop database germplasm;
%sql drop database testing123;

In [5]:
# Projects 1:n Organisms 1:n Samples
%sql create database lismtest1;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

In [7]:
%sql use lismtest1;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [15]:
%sql CREATE TABLE sample(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,\
                         tissue VARCHAR(20) NOT NULL,\
                         date DATE NOT NULL,\
                         location VARCHAR(20) NOT NULL,\
                         organism_id INTEGER NOT NULL);
%sql DESCRIBE sample;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('tissue', 'varchar(20)', 'NO', '', None, ''),
 ('date', 'date', 'NO', '', None, ''),
 ('location', 'varchar(20)', 'NO', '', None, ''),
 ('organism_id', 'int(11)', 'NO', '', None, '')]

In [16]:
%sql CREATE TABLE organism(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,\
                           tagnumber INTEGER NOT NULL,\
                           species VARCHAR(20) NOT NULL,\
                           project_id INTEGER NOT NULL);
%sql DESCRIBE organism;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('tagnumber', 'int(11)', 'NO', '', None, ''),
 ('species', 'varchar(20)', 'NO', '', None, ''),
 ('project_id', 'int(11)', 'NO', '', None, '')]

In [17]:
%sql CREATE TABLE project(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,\
                          fundingagency VARCHAR(20) NOT NULL);            
%sql DESCRIBE project;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('fundingagency', 'varchar(20)', 'NO', '', None, '')]

#### insert into with mypysql:

In [18]:
#first: project (auto_increment)
#store last project id
#then: organism (with project id)
#store last organism(s) id
#then: sample (with organism(s) id)

import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='lismtest1',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit = True)

In [19]:
### Mark inserted things by first creating a dictionary!!! then don't forget to str() and the ''

project = {}
project['Plan Nacional'] = "blabla"

organism = {}
organism['Human'] = {"taxon":"9106", "tagnumber":"123456"}

#...

#and then for example:

#"""... VALUES ('""" + str(project["Plan Nacional"]) + """')"""


try:
    with connection.cursor() as cursor:
        # inserting first project entry:
        sql = """INSERT INTO project (fundingagency) VALUES ('CAM')""" # remember '', no ""
        cursor.execute(sql)
        # storing project id:
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()
        projectid = results[0]['last_insert_id()']

finally:
    print("")
    #connection.close()

%sql SELECT * FROM project

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(1, 'CAM')]

In [21]:
try:
    with connection.cursor() as cursor:
        # inserting organism into entry:
        sql = """INSERT INTO organism (tagnumber, species, project_id) 
                 VALUES (510, 'burro', '""" + str(projectid) + """')""" # remember '', no ""
        cursor.execute(sql)
        # storing organism id:
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()
        organismid = results[0]['last_insert_id()']

finally:
    print("")
    #connection.close()

%sql SELECT * FROM organism

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(1, 510, 'burro', 1)]

In [ ]:
#ok

In [22]:
### reading from csv, should be the same, the info from the csv goes into a dictionary, and then you input the info
### in the dictionary into the database doing what we have done there! :)

In [23]:
%sql drop database lismtest1;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[]

In [24]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]